@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;700;900&family=Bitter:ital,wght@0,400;0,700;1,400&family=Gamja+Flower&display=swap');
* {
  font-family: 'Barlow', sans-serif;
}


@mixin font-huge {
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  @include media-breakpoint-up(lg) {
    font-size: 100px;
    line-height: 110px;
  }  
}
@mixin font-h1 {
  font-weight: 900;
  font-size: 38px;
  line-height: 40px;
  @include media-breakpoint-up(lg) {
    font-size: 46px;
    line-height: 52px;
  }  
}
@mixin font-h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 32px;
  @include media-breakpoint-up(lg) {
    font-size: 38px;
    line-height: 44px;
  }    
}
@mixin font-h3 {
  font-weight: 900;
  font-size: 22px;
  line-height: 24px;
  @include media-breakpoint-up(lg) {
    font-size: 28px;
    line-height: 34px;
  }      
}
@mixin font-h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}
@mixin font-default {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  @include media-breakpoint-up(lg) {
    font-size: 24px;
    line-height: 32px;
  }       
}

@mixin font-bitter {
  font-family: 'Bitter', serif;
}