.NavBar {
  // position: relative;
  z-index: 99;
  // background-color: $color-black !important;
  background-color: black !important;
  color: $color-white;
  // border-bottom: 1px solid rgba($color-white, 0.2);
  border-bottom: 1px solid black;
  
  .navbar-brand {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    // justify-content: space-evenly;
    justify-content: flex-end;
    align-items: flex-end;

    .nav-link {
      padding: 0 12px;
      font-size: 18px;
      color: white
    }
    @media (max-width: 990px) {
      padding-top: 20px;
      align-items: center;
      .nav-link {
        padding: 10px 0;
      }
    }

    .dropdown .dropdown-menu a {
      color: black;
    }

  }

  .Button {
    margin: 0;
    transform: scale(.6);
  }
}